---
import Layout from '../layouts/Layout.astro';
import HeroClean from '../components/HeroClean.astro';
---

<Layout
  title="Empire Inc. - Build Your Business Empire"
  description="From zero to billionaire. Master markets, compete globally, earn while you sleep. The ultimate business simulation game."
>
  <main>
    <HeroClean />
  </main>
</Layout>
